﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title> 
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/CustomStyles.css" rel="stylesheet" />

    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top colors">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Deposit Banking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav colors">
                    <li>@Html.ActionLink("Banks", "Index", new { area = "", controller = "Banks" })</li>
                    @*<li>@Html.ActionLink("Depositors", "Index", "Depositors")</li>
                    <li>@Html.ActionLink("Investments", "Index", "Investments")</li>
                    <li>@Html.ActionLink("Search", "Search", "Search")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @if (Session["UserName"] != null)
                {
                    <p class="login"> @Session["UserName"].ToString() @Html.ActionLink("/Logout", "Logout", "Account") </p>
                } 
            </div>
           



        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
   
    @Scripts.Render("~/bundles/moment")

    @Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
 
    <script type="text/javascript" src="@Url.Content("~/scripts/CustomScripts/calculator.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/CustomScripts/fill-deposit-types.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/CustomScripts/date-picker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/CustomScripts/changeEvent.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
