﻿.navbar {
    z-index: 10;
}
.colors {
    background-color: #398439;
    border-color: #255625;
    color:black;
    
}
.navbar-inverse .navbar-nav > li > a {
    color:lightgoldenrodyellow;
}
.navbar-inverse .navbar-brand {
    color: lightgoldenrodyellow;
}
.btn {
    color: lightgoldenrodyellow;
}
.pagination-container a {
    background-color: #398439;
    border-color: #255625;
    color: black;
}
.login {
    float: right;
    color: lightgoldenrodyellow;
    margin-top: 10px;
}
.login a { 
    color: lightgoldenrodyellow;
}
/*.ui-dialog-titlebar-close:before {
    content: 'x';
    padding: 0px;
}*/
.ui-dialog-titlebar-close {
    background-color: #e00e0e;
}