﻿@model Volo.Luiza_Kishoyan.DepositBanking.Areas.Admin.ViewModels.SearchViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Ajax.BeginForm("SearchResults", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Bank, "Bank", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Bank",  new SelectList(Model.Banks, "Name", "Name"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
        </div>        
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Depositor, "Depositor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Depositor", new SelectList(Model.Depositors, "FullName", "FullName"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Depositor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Deposit, "DepositType", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Deposit", new SelectList(Model.Deposits, "Type", "Type"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Deposit, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.AmountFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AmountFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AmountFrom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AmountTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AmountTo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AmountTo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartDateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <input class="form-control startFromdatetimepicker text-box single-line input-validation-error" name="StartDateFrom" id="StartDateFrom" value="@Model.StartDateFrom">
          @Html.ValidationMessageFor(model => model.StartDateFrom)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartDateTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control startTodatetimepicker text-box single-line input-validation-error" name="StartDateTo" id="StartDateTo" value="@Model.StartDateTo">
            @Html.ValidationMessageFor(model => model.StartDateTo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</div>
}
<div id="results"></div>

@section Scripts {
   
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="@Url.Content("~/scripts/CustomScripts/date-picker.js")"></script>

}
