﻿@model Volo.Luiza_Kishoyan.DepositBanking.Areas.Admin.ViewModels.BankViewModels.BankDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWIFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWIFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Investments">Investments</a></li>
</ul>

<div class="tab-content">
    <div id="Investments" class="tab-pane fade in active"> 
        <table class="table">
            <tr>
                <th>
                    Depositor
                </th>
                <th>
                    Deposit
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Amount
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Duration
                </th>
                <th>
                    FinalAmount
                </th>
                <th>
                    DepositorState
                </th>
                <th>
                    CreationDate
                </th>
                <th>
                    DestroyDate
                </th>
               
            </tr>

            @foreach (var item in Model.Investments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depositor.Name) @Html.DisplayFor(modelItem => item.Depositor.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositorState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @if (item.DestroyDate == null) { <p> Active</p> } 
                        @Html.DisplayFor(modelItem => item.DestroyDate)
                    </td>
                </tr>
            }

        </table>

    </div>

</div>
